@import url("https://fonts.googleapis.com/css?family=Charm:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
body {
  background-image: url("images/9.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Charm; }

span {
  color: #9CC0C1; }

h1 {
  color: #666666;
  text-transform: uppercase; }

h3 {
  color: #666666; }

p, h6 {
  font-family: 'Open sans';
  color: #666666; }

.no-gutters {
  padding: 0rem;
  margin: 0; }

.col-3 {
  padding: 1rem; }

.slider img {
  height: 60rem; }

.carousel-layout {
  width: 100%;
  height: 60rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 4rem;
  opacity: 1; }
  .carousel-layout h1 {
    font-size: 5em;
    color: #9CC0C1;
    position: absolute;
    top: 20rem;
    left: 20rem;
    transform: rotate(-10deg);
    opacity: 0.5; }
  .carousel-layout img {
    position: absolute;
    top: 6rem;
    right: 45rem;
    transform: rotate(-20deg); }

.navbar .logoDiv {
  overflow: hidden; }
  .navbar .logoDiv img {
    height: 2rem; }

.navbar-nav {
  padding: 0rem 4rem 0rem 5rem; }

.navbar .nav-link {
  text-transform: uppercase;
  color: black; }

.navbar .nav-item:hover {
  background-color: #9CC0C1;
  border-radius: 0.2rem; }

.btn-lg {
  width: 10rem;
  height: 3rem;
  line-height: 2rem;
  background-color: #9CC0C1;
  border-color: #9CC0C1;
  color: #FFFFFF; }
  .btn-lg:hover {
    background-color: #666666;
    border-color: #666666; }

.card {
  height: 15rem;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .card .layout {
    width: 100%;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0rem;
    opacity: 0; }
  .card-hover:hover .layout {
    opacity: 1; }
  .card-hover:hover .card {
    border: 0.5rem solid #9CC0C1; }
  .card-border {
    border: 0.5rem solid #f7eded; }
  .card-width {
    width: 30rem; }
  .card-slider {
    width: 34.5rem;
    height: 30rem;
    border: 0.5rem solid #9CC0C1; }

.btn-color {
  width: 10rem;
  background-color: #9CC0C1;
  color: #FFFFFF;
  border-radius: 0.5rem; }

.cards {
  width: 34.5rem;
  height: 10rem;
  border: 0.5rem solid #9CC0C1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .cards img {
    width: 7.5rem;
    height: 8rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem; }
  .cards .border-active {
    border: 0.3rem solid red; }

.studio {
  position: relative; }
  .studio, .studio .layout, .studio .card-background-img {
    height: 50rem;
    width: 100%; }
  .studio .col-6 {
    position: absolute;
    top: 0;
    padding: 5rem 4rem; }
  .studio .col-edit {
    right: 0; }
    .studio .col-edit .card {
      padding: 4rem 0rem 1rem 4rem;
      background-color: transparent; }
      .studio .col-edit .card h1 {
        color: #FFFFFF; }
      .studio .col-edit .card-width {
        width: 35rem; }
  .studio .layout {
    position: absolute;
    top: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8); }

.pricing {
  padding: 5rem;
  height: 45rem; }
  .pricing .col-6 {
    height: 35rem; }
  .pricing-plans {
    height: 10rem; }
  .pricing .btn-color {
    width: 25rem;
    border: 0.1rem solid;
    border-radius: 0.5rem 0.1rem;
    margin-bottom: 1rem;
    font-size: 25px; }
  .pricing .card-border {
    height: 33rem;
    border-color: #9CC0C1; }
  .pricing .card h2 {
    padding: 0rem 5rem 1rem; }
  .pricing .card h3, .pricing .card h6 {
    padding: 0rem 1rem; }
  .pricing .price {
    background-color: #9CC0C1;
    color: #FFFFFF;
    border-radius: 50%;
    float: right; }

.service {
  padding: 4rem;
  height: 40rem; }
  .service .noImageCard .card {
    border: none; }

.gallery {
  background-color: aqua;
  height: 30rem;
  padding: 4rem; }
  .gallery .card, .gallery .layout {
    height: 20rem; }
  .gallery .layout {
    background-color: rgba(255, 255, 255, 0.8); }
