@import url("https://fonts.googleapis.com/css?family=Charm:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
body {
  font-family: Charm; }

span {
  color: #9CC0C1; }

h1 {
  color: #666666;
  text-transform: uppercase; }

h3 {
  color: #666666; }

p, h6 {
  font-family: 'Open sans';
  color: #666666; }

.no-gutters {
  padding: 0rem;
  margin: 0; }

.navbar img {
  height: 3rem; }

.navbar .nav-link {
  text-transform: uppercase;
  color: black; }

.navbar .nav-item:hover {
  background-color: #9CC0C1;
  border-radius: 0.2rem; }

.card {
  height: 16rem;
  overflow: hidden; }
  .card-hover:hover .layout {
    opacity: 1; }
  .card-hover:hover .card {
    border: 0.5rem solid #9CC0C1; }
  .card-border {
    border: 0.5rem solid #f7eded; }
  .card .layout {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0; }
  .card-img-top {
    height: 100%; }

.card-slider {
  width: 33rem;
  height: 30rem;
  border: 0.5rem solid #9CC0C1; }

.cards {
  width: 33rem;
  height: 10rem;
  border: 0.5rem solid #9CC0C1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .cards img {
    width: 7rem;
    height: 8rem;
    border: 0.1rem solid #9CC0C1; }

.btn-lg {
  background-color: #9CC0C1;
  border-color: #9CC0C1;
  color: #FFFFFF; }
  .btn-lg:hover {
    background-color: #666666;
    border-color: #666666; }

.btn-color {
  width: 10rem;
  background-color: #9CC0C1;
  color: #FFFFFF;
  border-radius: 0.5rem; }

.carousel-layout {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1; }

.studio {
  background-image: url("../images/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .studio h1 {
    color: white; }
  .studio p {
    color: #d1d1cd; }

.pricing .btn-color {
  width: 25rem;
  border: 0.1rem solid;
  border-radius: 0.5rem 0.1rem;
  margin-bottom: 1rem;
  font-size: 25px; }

.pricing .card-border {
  height: 33rem;
  border-color: #9CC0C1; }

.pricing .price {
  background-color: #9CC0C1;
  color: #FFFFFF;
  border-radius: 50%; }

.gallery .layout {
  background-color: rgba(255, 255, 255, 0.7); }

footer {
  background-color: #9CC0C1; }

.res_image {
  height: 20px;
  width: 20px;
  margin: 5px; }
