


$primary-color: #9CC0C1;
$secondary-color: #212121;

$white: #FFFFFF;
$gray: #666666;


$no-padding: 0rem;
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 4rem;
$padding-larger: 5rem;

