
.studio
{
    position: relative; 
    & , .layout , .card-background-img
    {
        height: 50rem;
        width: 100%;
    }
    .col
    {
        &-lg-6
        {
            top: 0;
            padding: $padding-larger $padding-large;
        }
        &-edit
        {
            right: 0;
            .card
            {   
                padding: $padding-large $no-padding $padding-small $padding-large;
                background-color: transparent;
                h1{
                    color: $white;
                }
                &-width
                {
                    width: 35rem;
                }
            }
        }
    }
      
}

.layout
{
    position: absolute;
    top: 0;
    opacity: 1;
    background-color: rgba(0,0,0, 0.8);
} 
.pricing
{
    padding: $padding-larger;
    &-plans
    {
        height: 10rem;
    }
    .btn-color
    {
        width:25rem;
        border: 0.1rem solid ;
        border-radius: 0.5rem 0.1rem;
        margin-bottom: 1rem;
        font-size: 25px;
    }
    .card
    {
        &-border
        {
            height: 33rem;
            border-color: $primary-color;
        }

        h2
        {
            padding: $no-padding $padding-larger $padding-small;
        }
        h3,h6
        {
            padding: $no-padding $padding-small ;
        } 

    }
    .price
    {
        background-color: $primary-color;
        color: $white;
        border-radius: 50%;
        float: right;
        
    }
}

.service
{
    padding: $padding-large;
   .noImageCard
   {
       .card
       {
           border: none;
       }
   }
  
   
}


.gallery
{
    padding: $padding-large;
    .card-border 
    {
        height: 17rem;
    }
   
    .gallery-card
    {
        height: 5rem;
        border: none;
    }
}

footer
{
    height: 5rem;
    background-color: $primary-color;
    h2 { line-height: inherit; float: left;}
    // .form-control {display: inline;}
}