

.carousel-layout
{
    // height: 47.3rem;
    height: inherit;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    // h1{
    //     font-size: 5em;
    //     color: $primary-color;
    //     position: absolute;
    //     top: 20rem;
    //     left: 20rem;
    //     transform: rotate(-10deg); 
    //     opacity: 0.5;
    //   }
    // img{
    //     position: absolute;
    //     top: 6rem;
    //     // right: 45rem;
    //     transform: rotate(-20deg);
    // }
}


.studio
{
    background-image: url('../images/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    h1{color: white}
    p{
        color: rgb(209, 209, 205);
    }
   
}

 
.pricing
{
    .btn-color
    {
        width:25rem;
        border: 0.1rem solid ;
        border-radius: 0.5rem 0.1rem;
        margin-bottom: 1rem;
        font-size: 25px;
    }
    .card
    {
        &-border
        {
            height: 33rem;
            border-color: $primary-color;
        }

        
    }
    .price
    {
        background-color: $primary-color;
        color: $white;
        border-radius: 50%;
        
    }
}

.gallery
{
    .layout
    {
        background-color: rgba(255,255,255,0.7)
    }
}

footer
{
    background-color: $primary-color;
}



.res_image 
{
	height: 20px;
	width: 20px;
    margin: 5px;
}