.card
{
    height: 16rem;
    overflow: hidden;
    &-hover
    { 
        &:hover
        { 
            .layout
            {
                opacity: 1;
            }
            .card
            {
                border: 0.5rem solid $primary-color;
            }
        }
    }
    &-border
    {
        border: 0.5rem solid rgb(247, 237, 237);
    }
    .layout
    {
        height: inherit;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
    }
    &-img-top
    {
        height: 100%;
    }

}

.card-slider
{
    width: 33rem;
    height: 30rem;
    border: 0.5rem solid $primary-color;
}
.cards
{
    width: 33rem;
    height: 10rem;
    border: 0.5rem solid $primary-color;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img{
        width: 7rem;
        height: 8rem;
        border: 0.1rem solid $primary-color;
    }
}
  

