
.navbar
{
    img 
    {
        height: 3rem; 
    }
    .nav 
    {
        &-link
        {
            text-transform: uppercase;
            color: black;
        }
        &-item
        {  
            &:hover
            {
                background-color: $primary-color;
                border-radius: 0.2rem;
            }
        } 
    }
}


