
.carousel-layout
{
    height: 47.3rem;
    // height: inherit;
    background-color: rgba(0,0,0,0.5);
    top: 0rem;
    opacity: 1;
    // h1{
    //     font-size: 5em;
    //     color: $primary-color;
    //     position: absolute;
    //     top: 20rem;
    //     left: 20rem;
    //     transform: rotate(-10deg); 
    //     opacity: 0.5;
    //   }
    // img{
    //     position: absolute;
    //     top: 6rem;
    //     // right: 45rem;
    //     transform: rotate(-20deg);
    // }
}


