body
{
  // background-color: lavender;
  font-family: Charm;
}
span{
  color: $primary-color;
}
h1 
{
  color: $gray;
  text-transform: uppercase;
}

h3{color: $gray;}

p,h6{
  font-family: 'Open sans';
  color: $gray;
}

.no-gutters
{
  padding: $no-padding;
  margin: 0;
}

