body
{
  // background-image: url("images/9.jpg");
  // min-height: 500px;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  font-family: Charm;
}
span{
  color: $primary-color;
}
h1 
{
  color: $gray;
  text-transform: uppercase;
}

h3{color: $gray;}

p,h6{
  font-family: 'Open sans';
  color: $gray;
}

.no-gutters
{
  padding: $no-padding;
  margin: 0;
}

.col-lg-3
{
  padding: $padding-small;
}

// .col-sm-12
// {
//   padding-left: $no-padding;
// }

.col-lg-4
{
  padding: $padding-small;
}

// @media only screen and (min-width: 360px) {
//    /* For mobile phones: */
//    .navbar
//    {
//       background-color: $gray;
//    }

//   body {
//     background-color: lightblue;
//   }
// }